<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.kilamonsta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity"
                  android:label="Help"
                  android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.billy.kilamonsta.MainActivity"/>
        </activity>
        <activity android:name=".LoadGameActivity"
            android:label="LoadGame"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.billy.kilamonsta.MainActivity"/>
        </activity>
        <activity android:name=".CreateGameActivity"
            android:label="Number Of Players"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.billy.kilamonsta.MainActivity"/>
        </activity>
        <activity android:name=".CharacterSelectActivity"
            android:label="Character Select"
            android:parentActivityName=".CreateGameActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.billy.kilamonsta.MainActivity"/>
        </activity>
        <activity android:name=".GameActivity"
            android:label="Game Stat"
            android:parentActivityName=".CreateGameActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.billy.kilamonsta.MainActivity"/>
        </activity>
        <provider
            android:authorities="com.example.billy.kilamonsta"
            android:name="GameDbProvider"
            android:exported="false"
            android:syncable="true"/>
    </application>

</manifest>